@media screen and (max-width: 768px) {
    #responsive_size {
        display: none;
    }
}

@media screen and (max-width: 960px) {
    #responsive_size {
        display: none;
    }
}

.woocommerce-breadcrumb {
    position: unset!important;
    padding: 0 10px;
}

.orders-button {
    background: #3498DB!important;
    color: white!important;
    transition: all 1s;
}

.orders-button:hover {
    background: #0c71b5!important;
}

.woocommerce-address-fields p {
    display: block;
}

.woocommerce-address-fields p input[type='text'] {
    border-radius: 8px;
    border: solid 1px #c5cace;
    padding: 2px 10px 2px 0;
}